html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

a {
    color: black;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype'),
    url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.genericForm {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#mainHeader {
    text-align: center;
    font-weight: normal;
    margin: 50px 0;
}